@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
*{
  font-family: Montserrat;
  color:white;
  font-size:14px;
}
body{
  background-color:#F0F1F2;
  display: flex;
  margin:0;
 
}
h1{
  font-size: 35px;
  
}
#sidebar{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y:auto;
  height: calc(100% - 0px);
  width:25%;
  background-color: #27292B;
}
#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.menu{
  margin-bottom:20px;
  padding-bottom:20px;
  width:85%;
  border-bottom:1px solid rgb(196, 194, 194);
}
.menu h1{
  font-size:15px;
}
.container,.functions,.header,.search-bar,.content,#main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.header,.header p{
  margin-bottom: 0;
  border: none  ;
}
.avatar{
  width:35%;
  height: auto;
  margin-top:20px;
  border-radius: 50%;
}
.header h1{
  font-size:24px;
  margin:15px 0 0 0; 
}
.hamburger-button{
  background-color: transparent;
  border:1px solid white;
}
.social-media{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.fa-brands{
  font-size:30px;
  color:rgb(153, 155, 155)
}
.fa-brands:hover{
  color:white;
}
.item{
  background-color: transparent;
  border: 0;
  width:100%;
  height: 40px;
  font-size:15px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.item:hover{
  background-color: rgb(66, 66, 65)
}
.category{
  justify-content: space-between;
}
.more{  
  background-color: transparent;
  border:1px solid  white;
}
input[type="search"]{
  font-weight: 1000;
  width:100%; 
  margin-bottom:10px;
  padding: 9px 4.5px 9px 12px;
  color:#27292B;
}
.submit{
  padding:9.6px;
  width: 100%;
  border: none;
  background-color: #3E4145;
}
.author{
  justify-content: flex-start;
}
.author a{
  display:block;
margin-bottom: px;
text-decoration: none;
}
.author a:hover{
  text-decoration: underline;
}
.hidden{
  display:none;
}
#main{
  margin-left:10%;
}
.content{
  width:60%;
  background-color: white;
  margin-bottom:20px;
}
.post-image{
width:100%;
height:auto;

}
.content h1,.content h2,.content p,.content a{
  color:black;
  margin-bottom:10px;
  text-align: center;
  
}
.content h1{
  width:90%;
  -webkit-line-clamp: 1;
  text-align: center;
  margin-bottom: 0;
}
.content p{
  -webkit-line-clamp: 2;
  width:80%;
  margin-top:10px;
}
.fas{
  color:rgb(221, 68, 81);
}
.fas:hover{
  transform: rotate(30deg);
  transition:0.2s ease-out;
}
.add{
  position:fixed;
  bottom:20px;
  right:30px;
}
@media  screen and (max-width:768px) {
  body{
    flex-direction: column;
  }
  #sidebar{
    width:100%;
    height: fit-content;
  }
  .functions{
    display:none;
  }
  .header,.container{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .container{
    justify-content: flex-start;
    width:50%;
  }
  .avatar{
    width:17%;
    margin-right:13px;
  }
  .hamburger-button{
    margin-top:20px;
    display:block;
  }
  #main{
    margin-left:0;
    margin-top:15%;
  }
  
}
@media screen and (max-width:643px) {
  .avatar,.author-information p{
    display:none; 
  }
}
@media screen and (max-width:449px) {
  .author-information h1 {
    font-size:20px;
  }
  .content h1,.content p{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .content p{
    -webkit-line-clamp: 2;
  }
  .fas{
    font-size:40px;
  }
}