@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik+Marker+Hatch&family=Titan+One&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    display:flex;
    flex-direction:row
}
* {
    font-family: "Montserrat";
    color: white;
    
}

#menu,
.author-information,.searching-area,.searching-button,.author,.recent-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-media{
    flex-direction: column;
}
#menu {
    
    width: 20%;
    padding-top: 48px;
    background-color: #27292B;
}
#main-post{
    width:80%;
    background-color: #F0F1F2;
}
#menu .avatar {
    width: 96px;
    height: 96px;
    background-image: url("https://secure.gravatar.com/avatar/adbeca63c63b91460addc8bd58a606fe?s=96&d=mm&r=g");
    border-radius: 50%;
}
.branch{
    width:10%;
    height: 10%;
}
.line{
    margin-top:10px;
    margin-bottom:10px;
    width:80%;
    height:1px;
    background-color: aliceblue;
}
.main-menu{
    width:100%;
}
.button {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    width:100%;
    text-decoration: none;
    font-size: 16px;
    display:flex;
    justify-content: flex-start;
    padding: 15px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button:hover{
    background-color:#585a5c;
    
  }
  .social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.searching-area,.author{
    width:100%;
}
.text{
    color:black;
    font-weight: 1000;
    font-size:13px;
    width:80%;
    height:20px;
    margin-bottom:6px;
    padding: 9px 4.5px 9px 12px;    
}
.searching-button{
    height:36px;
    border:none;    
    width:88%;
    background-color: #3E4145;
}
.searching-button:hover{
    background-color:black;
}
.author p{
    font-size:12px; 
    width:80%;
}
.recent-post a{
    text-decoration: none;;
    font-size:13px;
    margin-top:10px;
}
.recent-post a:hover{
    text-decoration: underline;
}
.posts{
    text-align: center;
    width:676px;
    margin-top:60px;
    background-color: white;
    padding-bottom: 20px;
    
}
.posts h1, .posts p,.posts a{
    width:80%;
    color:black;
}
.illustration-image{
    width:676px;
    height:338px;
}

#main-post,.posts{
    color:black;
    display:flex;
    flex-direction:column;
    align-items: center;
}