* {
  font-family: Montserrat;
  font-size: 20px;
}

body {
  background-color: #F0F1F2;
  display: flex;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
}

#not_found {
  width: 50%;
  
}

#not_found_404 {
  width: 45%;
  border-radius: 10px;

}

.title {
  font-size: 2.5em;
}

#not_found_result {
  width: 100%;

  margin: 0;

}

h1 {
  width: 30%;
  text-align: center;
  font-size: 1.5em;
  color: #050505;
  text-shadow: 2px 2px 10px #000;
  ;
}

#back_button {
  cursor: pointer;
  width: 30%;
  background-color: #0F70e6;
  border: none;
  padding: 10px;
  color: rgb(199, 198, 198);
  border-radius: 10px;
  transition: border 1.5s ease;
}

#back_button:hover .fa-arrow-left {
  right: 24px;
  transition: all 0.3s ease-in-out;
}

.fa-arrow-left {
  margin-right: 20px;
  position: relative;
  right: 1px;
}

.hidden {
  display: none;
}

.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 768,643,449 */
@media screen and (max-width:1014px){
  h1{
    font-size:1.3em;
    width:40%;
  }
  #back_button{
    font-size:1em;
    width:40%;
  }
}
@media screen and (max-width:712px){

  #not_found,#not_found_404 {
   display:none;
  }
  h1{
    font-size:1em;
    width:40%;
  }
  #back_button{
    font-size:0.9em;
    width:40%;
    overflow: hidden;
  }
  .not-found{
    height:100%;
  }
}
@media screen and (max-width:656px){
  .fa-arrow-left{
    display:none;
  }
  #back_button{
    content:'Come back';
    font-size:0.8em;
    width:40%;
    overflow: hidden;
  }
}